# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/


# Databases
*.db
*.sqlite3


# Virtual environments (ANYWHERE in repo)
venv/
venv312/
*/venv/
*/venv312/

# Python cache
__pycache__/
.pytest_cache/
*.pyc

# Environment variables / secrets
.env
*/.env

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/

